<br>
<!-- HTML PARA O CADASTRO DE Funcionários -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card border-0 shadow rounded-9 my-9">
        <div class="card-body p-10 p-sm-9">
          <h2 class="card-title text-center mb-5 fw-light fs-5">
            Cadastrar funcionário
          </h2>
          <!-- Formulário de cadastro -->
          <form class="row g-3">
            <div class="form-group col-md-6">
              <label class="form-label" for="nome">Nome</label>
              <input [(ngModel)]="funcionario.nome" name="nome" type="text" class="form-control" id="nome" placeholder="Digite o nome">
            </div>
            <div class="form-group col-md-6">
              <label class="form-label" for="cpf">CPF</label>
              <input [(ngModel)]="funcionario.cpf" name="cpf" type="text" class="form-control" id="cpf">
              <div id="descricaoHelp" class="form-text">Ex. 999.999.999-99</div>
            </div>

            <div class="form-group col-md-6">
              <label class="form-label" for="email">E-mail</label>
              <input [(ngModel)]="funcionario.email" name="email" type="text" class="form-control" id="email">
              <div id="descricaoHelp" class="form-text">Ex. nome@dominio.com</div>
            </div>
            <div class="form-group col-md-6">
              <label class="form-label" for="senha">Senha</label>
              <input [(ngModel)]="funcionario.senha" name="senha" type="password" class="form-control" id="senha">
              <div id="descricaoHelp" class="form-text">A senha deve possuir até 8 caracteres</div>
            </div>

            <div class="form-group col-md-6">
              <label class="form-label" for="telefone">Telefone</label>
              <input [(ngModel)]="funcionario.telefone" name="telefone" type="text" class="form-control" id="telefone">
              <div id="descricaoHelp" class="form-text">Ex. (99)99999-9999</div>
            </div>
            <!--Radio-->
            <div class="form-group col-md-6">
              <label for="status" class="form-label">Status</label>
              <br>
              <div class="form-check form-check-inline">
                <input [(ngModel)]="funcionario.status" class="form-check-input" type="radio" name="status" id="status" value="Ativo">
                <label class="form-check-label" for="status">Ativo</label>
              </div>
              <div class="form-check form-check-inline">
                <input [(ngModel)]="funcionario.status" class="form-check-input" type="radio" name="status" id="status" value="Férias">
                <label class="form-check-label" for="status">Férias</label>
              </div>
              <div class="form-check form-check-inline">
                <input [(ngModel)]="funcionario.status" class="form-check-input" type="radio" name="status" id="status" value="Inativo">
                <label class="form-check-label" for="status">Inativo</label>
              </div>
            </div>

            <!--SELECT permissão-->
            <div class="form-group col-md-4">
              <label for="permissao" class="form-label">Permissão</label>
              <select [(ngModel)]="funcionario.permissao" class="form-select" name="permissao">
                <option [ngValue]="undefined">Escolher</option>
                <option value="Admin">Admin</option>
                <option value="Funcionário">Funcionário</option>
              </select>
            </div>
            <!--SELECT cargo-->
            <div class="form-group col-md-4">
              <label for="cargo" class="form-label">Cargo</label>
              <select [(ngModel)]="funcionario.cargo" class="form-select" name="cargo">
                <option [ngValue]="undefined">Escolher</option>
                <option *ngFor="let car of cargos" id="option{{car.id}}" [ngValue]="car">{{car.nome}}</option>
              </select>
            </div>
            <!--SELECT departamento-->
            <div class="form-group col-md-4">
              <label for="departamento" class="form-label">Departamento</label>
              <select [(ngModel)]="funcionario.departamento" class="form-select" name="departamento">
                <option [ngValue]="undefined">Escolher</option>
                <option *ngFor="let dep of departamentos" id="option{{dep.id}}" [ngValue]="dep">{{dep.nome}}</option>
              </select>
            </div>

            <!-- Muda de acordo com a operação (cadastrar/editar) -->
            <div [ngSwitch]="opcao">
              <button *ngSwitchCase="'cadastrar'" (click)="cadastrar()" class="btn btn-primary">Cadastrar</button>
              <button *ngSwitchCase="'editar'" (click)="editar()" class="btn btn-primary me-2">Salvar</button>
              <button *ngSwitchCase="'editar'" (click)="cancelar()" class="btn btn-secondary">Cancelar</button>
            </div>
          </form>
          <br>
          <!--Alert-->
          <div *ngIf="cadastrado" class="alert alert-success" role="alert">
            <h6>Funcionário cadastrado com sucesso!</h6>
          </div>
          <div *ngIf="editado" class="alert alert-warning" role="alert">
            <h6>Funcionário editado com sucesso!</h6>
          </div>
          <div *ngIf="deletado" class="alert alert-danger" role="alert">
            <h6>Funcionário deletado com sucesso!</h6>
          </div>

          <!-- Tabela de Funcionários -->
          <div class="table-responsive">
            <table class="table table-sm">
              <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Permissão</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">E-mail</th>
                <th scope="col">Senha</th>
                <th scope="col">Telefone</th>
                <th scope="col">Data</th>
                <th scope="col">Status</th>
                <th scope="col">Cargo</th>
                <th scope="col">Departamento</th>
                <th scope="col">Ações</th>
              </tr>
              </thead>
              <!-- Corpo da tabela -->
              <tbody class="table-group-divider">
                <tr *ngFor="let fun of funcionarios;">
                <td>{{fun.id}}</td>
                <td>{{fun.permissao}}</td>
                <td>{{fun.nome}}</td>
                <td>{{fun.cpf}}</td>
                <td>{{fun.email}}</td>
                <td>{{fun.senha}}</td>
                <td>{{fun.telefone}}</td>
                <td>{{fun.data_cadastro}}</td>
                <td>{{fun.status}}</td>
                <td>{{fun.cargo?.nome}}</td>
                <td>{{fun.departamento?.nome}}</td>
                <td>
                  <button (click)="buscar(fun.id)" type="button" class="btn btn-warning btn-sm me-2">Editar</button>
                  <button (click)="deletar(fun.id)" type="button" class="btn btn-danger btn-sm">Deletar</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

