<br>
<!-- HTML PARA Tabela de registros de ponto -->
<div class="container">
  <div class="row">
    <div class="col-sm-100 col-md-100 col-lg-20 mx-auto">
      <div class="card border-0 shadow rounded-9 my-9">
        <div class="card-body p-10 p-sm-9">
          <h2 class="card-title text-center mb-5 fw-light fs-5">
            Registros de ponto
          </h2>
        </div>

        <div class="table-responsive">
          <table class="table table-sm">
            <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">ID</th>
              <th scope="col">NOME</th>
              <th scope="col">STATUS</th>
              <th scope="col">CARGO</th>
              <th scope="col">DEPARTAMENTO</th>
              <th scope="col">AÇÃO</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let fun of funcionarios; index as i">
              <th scope="row">{{i}}</th>
              <th>{{fun.id}}</th>
              <th>{{fun.nome}}</th>
              <th>{{fun.status}}</th>
              <th>{{fun.cargo?.nome}}</th>
              <th>{{fun.departamento?.nome}}</th>
              <td>
                <button type="button" class="btn btn-success me-2">Visualizar</button>
                <!--<button (click)="buscar(fun.id)" type="button" class="btn btn-warning btn-sm me-2">Editar</button>-->
              </td>
            </tr>
            </tbody>
          </table>
        </div>



      </div>
    </div>
  </div>
</div>


